body{
    font-family: Poppins;
}
.checkout-page {
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.checkout-page.active {
    transform: translateX(0);
}

.checkout-header {
    background-color: var(--white);
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.checkout-return {
    float: left;
}

.checkout-return button {
    float: left;
    border: none;
    width: 30px;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.checkout-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
}

.checkout-section {
    padding-top: 15px;
    display: flex;
    column-gap: 20px;
}

.checkout-row,
.checkout-col-right {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 3%);
    margin-bottom: 20px;
}

.checkout-col-right {
    border: 1px solid var(--red);
    padding: 15px;
    height: 100%;
}

.checkout-col-right .checkout-content-label {
    font-size: 17px;
}

.content-group {
    padding: 15px 20px
}

.checkout-content-label {
    color: var(--black);
    font-weight: 600;
    margin-bottom: 15px;
}

.checkout-col-left {
    width: 70%;

}

.checkout-col-right {
    width: 30%;

}

.checkout-col-title {
    padding: 15px 20px 15px 33px;
    position: relative;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    border-bottom: 1px solid #E7E7E7;
}

.checkout-col-title:before {
    background: var(--red);
    width: 4px;
    height: 17px;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    content: "";
    position: absolute;
}

.checkout-type-order {
    display: flex;
    column-gap: 15px;
}

.type-order-btn {
    width: 50%;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.type-order-btn:hover,
.type-order-btn.active {
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--text-color);
}

.type-order-btn i {
    font-size: 22px;
    margin-right: 20px;
}

#tudenlay-group {
    display: none;
}

.content-group.chk-ship {
    display: flex;
    flex-direction: column;
}

.date-order {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.pick-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 6px;
    font-size: 12px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #666666;
    padding: 10px 0;
}

.pick-date.active,
.pick-date:hover {
    background: var(--red);
    color: #FFFFFF;
}

.delivery-time:not(:last-child) {
    margin-bottom: 15px;
}

.delivery-time {
    display: flex;
    align-items: center;
}

.choise-time {
    font-size: 14px;
    border: 1px solid var(--red);
    height: 32px;
    outline: none !important;
    margin-left: 30px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 3px
}

.note-order {
    background: #FFF6ED;
    width: 100%;
    border: none;
    outline: none;
    min-height: 80px;
    border-radius: 6px;
    padding: 13px;
    font-size: 14px;
    line-height: 100%;
    color: #222222;
}

.bill-total {
    margin-bottom: 20px;
}

.food-total {
    display: flex;
    margin-bottom: 10px;
}

.food-total .count {
    width: 27px;
    flex-shrink: 0;
    margin-right: 40px;
    font-size: 14px;
    line-height: 140%;
    display: block;
    color: var(--text-color);
    font-weight: 600;
}

.food-total .info-food {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.food-total .name-food {
    font-size: 14px;
    color: var(--text-color);
    line-height: 140%;
    font-weight: 600;
}

.bill-payment {
    padding-top: 25px;
    border-top: 1px solid #D3D3D3;
    margin-bottom: 25px;
}

.priceFlx {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}

.policy-note {
    font-size: 12px;
    color: #666666;
    margin: 15px 0;
}

.policy-note a {
    color: var(--red);
}

.priceFlx .count {
    color: var(--red);
    font-size: 12px;
}

.price-detail span {
    font-weight: 500;
}

.total-checkout {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid var(--red)
}

.price-bill {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-final {
    color: var(--red);
    font-weight: 600;
}

.price-ori {
    color: #666666;
    font-size: 13px;
    display: inline-block;
    margin-top: 6px;
    text-decoration-line: line-through;
}

.discount {
    color: #629050;
}

.complete-checkout-btn {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.modal-container-title {
    display: inline-block;
    margin-top: 16px;
    margin-left: 20px;
    text-transform: uppercase;
}

.detail-order-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.detail-order-item-left {
    width: 40%;
}

.detail-order-item-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-order-item i {
    color: var(--red);
    margin-right: 5px;
}

.header-middle-right-item.close{
    display: none;
}